RAILS_ENV=production
DATABASE_URL=postgresql://{{ db_user }}:{{ vault_db_password }}@postgres:5432/{{ db_name }}
REDIS_URL=redis://redis:6379/0
RAILS_MASTER_KEY={{ vault_rails_master_key }}
SECRET_KEY_BASE={{ vault_secret_key_base }}
RAILS_LOG_TO_STDOUT=true
RAILS_SERVE_STATIC_FILES=true
