<% if notice %>
  <div data-controller="flash"
       class="mx-6 mt-4 px-4 py-3 rounded bg-green-50 border border-green-200 text-green-800 text-sm">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div data-controller="flash"
       class="mx-6 mt-4 px-4 py-3 rounded bg-red-50 border border-red-200 text-red-800 text-sm">
    <%= alert %>
  </div>
<% end %>
